Django==5.2.7
Pillow==12.0.0
qrcode==8.2
web3==7.14.0
numpy==2.3.4
pandas==2.3.3
torch==2.9.0
transformers==4.57.1
scikit-learn==1.7.2
sentence-transformers==5.1.2
celery==5.5.3
redis==7.0.1
gunicorn==23.0.0
whitenoise==6.11.0
psycopg2-binary==2.9.11
django-crispy-forms==2.4
django-debug-toolbar==6.1.0
django-extensions==4.1
django-filter==25.2
djangorestframework==3.16.1
drf-yasg==1.21.11
python-dotenv==1.2.1